@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

body {
    padding: 0  !important;
    background-color: lightgrey;
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    color: #1E3556;
}

.pink {
    color: #FB2B6A;
}

.dashed {
    text-decoration: none; 
    border-bottom: 1px dashed #E62484;
}

.dashed:hover {
    color: #E62484;
}

.dashed-white {
    color: whitesmoke;
    text-decoration: none; 
    border-bottom: 1px dashed whitesmoke;
}

.dashed-white:hover {
    color: whitesmoke;
}

.nav-link {
    color: rgba(30, 53, 86, 0.75) !important;
}

/* Wrappers */


header {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */   
}

#logo {
    height: 60px;
}

#logo img {
    height: 100%;
    width: 100%;
}

/* Footer */

footer {
    background-color: #E62484;
    height: 74px;
    line-height: 12px;
    font-size: 14px;
    color: #FFFFFF
}

footer div {
    height: 100%;
}

footer div p {
    margin: 5px;
}

/* Middle section */

#left {
    position: relative;
}

#left:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#left img {
    width: 100%;    
    position: absolute;
    top:0;
    left: 0;
    padding: 10px;
    border-radius: 50px 0px;
}

@media only screen and (max-width: 768px) {
    #left {
        width: 100%;
    }

    #left::before {
      padding-top: 56.25%;
    }
    
    #left img {
        padding: 0;
        height: 100%;
    }

    #small-video {
        margin: auto;
        margin-top: 15px;
    }

    .news-item {
        margin: 15px;
    }
}

@media only screen and (max-width: 992px) {
    #calendar {   
        margin: 15px 0 0 -12px;
    }
}

@media only screen and (max-width: 768px) {
    #calendar {   
        margin: 0;
    }
}


@media only screen and (min-width: 992px) {
    #about-content {
        position: absolute;
    }
}


#special-offers {
    position: relative;
}

#special-offers img {
    width: 75px;
    height: 90px;
}


#about {
    height: auto;
}

#small-video {
    position: relative;
    overflow: hidden;
}

#small-video:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

#small-video img {
    width: 100%;
    height: 100%;  
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 26px 10px; 
}

.link {
    text-align: right;
    text-decoration: none;
    z-index: 10;
}


#additional-info {
    margin-top: 50px;
}


.bar-link {
    background-color: #E62484;
    border-radius: 10px 0px;  
}



.bar-link::before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}


#bottom-section {
    margin-top: 30px;
}

#bottom-section a {
    font-size: 14px;
    padding-left: 14px;
}

.news-item {
    height: 100%;
    border-left: 2px solid #1E3556;
}

#calendar {
    background:#1E3556;
    opacity: 90%;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
}


