@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

body {
    padding: 0  !important;
    background-color: lightgrey;
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

header {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    color: rgba(30, 53, 86, 0.75)  !important;   
}

#logo {
    height: 60px;
}

#logo img {
    height: 100%;
    width: 100%;
}

/* Footer */

footer {
    background-color: #E62484;;
    height: 74px;
    line-height: 12px;
    font-size: 14px;
    color: #FFFFFF
}

footer div {
    height: 100%;
}

footer div p {
    margin: 5px;
}

/* Middle section */
#middle-section {
    background-color: lightgray;
}

#left {
    background-color: lightgreen;
    position: relative;
    width: 50%;
}

#left:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

@media only screen and (max-width: 768px) {
    #left {
        width: 100%;
    }

    #left::before {
      padding-top: 56.25%;
    }
    
    #left img {
        padding: 0;
    }
  }

#left img {
    width: 100%; 
    height: 100%;   
    position: absolute;
    top:0;
    left: 0;
    padding: 10px;
    
}

#right {
    background-color: lightpink;
    height: 100%;
}

#special {
    background-color: lightskyblue;
}

#special-offers {
    background-color: seagreen;
    position: relative;
}


#about {
    background-color: darkseagreen;
    height: auto;
}

#about-content {
    background-color: darkslategray;
    height: 150px;
}

#small-video {
    position: relative;
    background-color: darkorange;
}

#small-video img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 26px;
}

.link {
    text-align: right;
}

#small-video:before {
    content:     "";
    display:     block;
    padding-top: 56.7%;
}

#motto {
    background-color: lightsalmon;
    height: 100px;  
}

#additional-info {
    margin-top: 50px;
}


.bar-link {
    background-color: lightseagreen;  
}

.bar-link::before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}



#bottom-section {
    margin-top: 90px;
}

#bottom-section a {
    font-size: 14px;
    padding-left: 14px;
}


#calendar {
    background:rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

